app.name=

jtw.secret=

logging.level.org.springframework.cache=

spring.data.redis.host=
spring.data.redis.port=
spring.data.redis.password=
spring.data.redis.connect-timeout=

spring.r2dbc.url=r2dbc:postgresql://{host}:{port}/{db}
spring.r2dbc.username=
spring.r2dbc.password=

spring.flyway.url=jdbc:postgresql://{host}:{port}/{db}
spring.flyway.user=
spring.flyway.password=

springdoc.version=
springdoc.swagger-ui.enabled=
springdoc.swagger-ui.path=
springdoc.api-docs.enabled=
springdoc.api-docs.groups.enabled=
springdoc.api-docs.path=
springdoc.webjars.prefix=
